SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [ ]:
## Connect to an SQLite database

connection = sqlite3.connect('example.db')
connection

In [ ]:
cursor=connection.cursor()

# connection → Represents the active database connection
# cursor() → Creates a query execution interface(for traversing)
# cursor → Used to send SQL commands to the database

In [4]:
## Create a Table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## Commit the changes
connection.commit()

In [5]:
cursor.execute('''
Select * from employees
''')

In [14]:
## Insert the data in sqlite table
cursor.execute('''
INSERT INTO employees(name,age,department)
VALUES('Shubh',32,'Data Scientist')

''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Vansh', 25, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 35, 'Finance')
''')

## commit the changes
connection.commit()

In [ ]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

In [16]:
## Update the data in the table

cursor.execute('''
UPDATE employees
Set age=34
where name="Shubh"
''')

connection.commit()

In [21]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Shubh', 34, 'Data Scientist')
(2, 'Vansh', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [25]:
## Delete the data from the table

cursor.execute('''
Delete from employees
where name ='Charlie'
''')

connection.commit()

In [26]:
## Query the data from the table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Shubh', 34, 'Data Scientist')
(2, 'Vansh', 25, 'Engineering')

In [27]:
## Working with Sales Data

# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
values(?,?,?,?)
''',sales_data)  # used to insert bulk data

connection.commit()

In [28]:
# Query data from the sales table

cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [29]:
## Close the connection

connection.close()